	    <style>

    body {
        display:flex;
        -webkit-align-items:center;
        align-items:center;
        -webkit-justify-content:center;
        justify-content:center;
    }
.content {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 5px;

}  .top {
                justify-content:center;
                background-color: #FF69B4;
                text-align:center;
                width:800px;
                height:200px;
        }
  .top1 {
            display:flex;
            width:800px;
            height:40px;
        }
  .top1l {
                width:50%;
                text-align:left;'
        }
  .top1r {
                    width:50%;
                    text-align:right;
        }

  .top2 {
            text-align:center;
            width:800px;
            height:140px;
            align-items:flex-end;
        }
  .mcontent {
                display:flex;
                align-items:flex-start;
                width:800px;
                height:1000px;

        }
  .mcontentl {
          width:70%;
          height:1000px;

        }
  .mcontentlu {

           height:700px;
           background-color:white;
        }
  .mcontentld {
           display:flex;
           justify-content:center;
           height:300px;
        }
 .mcontentld1 {

            width:33%;
            height:285px;
        }
 .mcontentld1u {
            display:flex;
            justify-content:center;
            align-items:flex-start;
            width:100%;
            height:60px;
        }
 .mcontentr {
            width:30%;
            height:1000px;
            background-color:#ADD8E6;
        }
 .bottom {
            display:flex;
            justify-content:center;
            width:800px;
            height:100px;
            background-color:#ADD8E6;
        }
 .circle {
        display:flex;
        justify-content:center;
        align-items:center;
        width:50px;
        height:50px;
        border-radius:50%;
        background-color:white;
        }
    </style>
